body {
  background: #000000;
}

.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
  max-width: 880px;
  margin: 0 auto;

}

@media (max-width: 880px) {
  .page {
    margin: 0 19px;
  }
}
