.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  position: relative;
  background-color: white;
  margin: auto;
  align-items: stretch;
}
