.popup__save {
  color: white;
  background-color: black;
  height: 50px;
  width: 358px;
  border-radius: 2px;
  margin: 48px 36px 37px;
  cursor: pointer;
  outline: none;
}

.popup__save:hover {
  opacity: 80%;
  transition: opacity .3s linear .1s;
}

@media screen and (max-width: 768px) {
  .popup__save {
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px;
  }
}
