.popup__save_disabled {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  opacity: 0.2;
  color: #000000;
  background-color: transparent;
}
