.profile__add-button {
  width: 150px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #000000;
  background-image: url('../../../images/profile__add-button.svg');
  cursor: pointer;
  outline: none;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media (max-width: 768px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 36px auto 0 auto;
  }
}
