.popup_image-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  background-color: transparent;
  position: absolute;
  bottom: -22px;
  left: 0;
  margin: 0;
}
