.popup__close {
  width: 40px;
  height: 40px;
  top: -40px;
  left: 430px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border: #000000;
  background-color: transparent;
  background-image: url(../../../images/close_button.svg);
  cursor: pointer;
  outline: none;
}

.popup__close:hover {
  opacity: 60%;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 26px;
    height: 26px;
    top: -50px;
    left: 250px;
  }
}
