.card__like {
  width: 22px;
  height: 19px;
  margin-right: 30px;
  background-image: url(../../../images/like_button.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px 10px;
  outline: none;
}

.card__like:hover {
  opacity: 50%;
  transition: opacity .3s linear .1s;
}
