.popup__title {
  color: black;
  margin: 34px 36px 54px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 768px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px;
  }
}
